*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Robotos", sans-serif;
  background: #242c35;
}
