*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // defines what 1rem is
  font-size: 62.5%;
  position: relative;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #242c35;
  color: $color-white;
  font-size: 1.6rem;
  position: relative;
}

a,
a:active,
a:visited {
  text-decoration: none;
}
