// COLORS

$color-black: #000;
$color-white: #fff;

// MAIN THEME COLORS
$background: #242c35;
$primary-blue: #39c;
$secondary-blue: #69b4da;
// breakpoints
$laptop-desktop-width: 1450px;
$large-mobile-width: 414px;
$mobile-width: 320px;
$tabletandlargephone-width: 720px;
$desktop-width: 1024px;
