.view-all-box {


  margin-top: 10rem;
  border: 2px solid $primary-blue;
  width: 20%;
  text-align: center;
  padding: 1.5rem;
  display: block;
  border-radius: 4px;
  font-weight: 300;
  font-size: 2rem;
}

.leads {
  &__heading {
    margin-top: 10rem;
    font-size: 2.7rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid $primary-blue;
    padding-bottom: 1.5rem;
  }
  .categories {
    width: 100%;
    margin-top: 2.4rem;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      li {
        color: #e4e4e4;
      }
    }
  }

  .recent-leads__items {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 5rem;
    .recent-leads__item {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      padding: 1.5rem;
      border-radius: 4px;
      font-weight: 300;
      font-size: 1.5rem;
      :not(last-child) {
        margin-right: 2rem;
      }
      & .recent-leads__item__icon {
        color: $primary-blue;
        font-size: 3rem;
        text-align: center;
        line-height: 2.5rem;
      }

      & .recent-leads__item__edit {
        color: $primary-blue;
        font-size: 2.6rem;
        text-align: center;
        line-height: 2.5rem;
      }

      & .recent-leads__item__delete {
        color: red;
        font-size: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
      }
    }
    .recent-leads__item:nth-child(odd) {
      background-color: #3e4854;
    }
  }
}
