/* New Inventory Title Code */

.new--inventory {
  &__title {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  &__addBtn {
    margin-top: 1.5rem;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid $primary-blue;
  }
}

.new--inventory__results {
  margin-top: 8rem;
  font-size: 1.5rem;
  text-align: center;
  h3 {
    @media (max-width: $mobile-width) {
      font-size: 1.3rem;
    }
  }

  & .newInventoryAddLink {
    display: inline-block;
    border-bottom: 1px solid $primary-blue;
    padding-bottom: 1px;
    color: white;
  }
}

/* New Inventory Fields Styling */
.form {
  display: flex;
  justify-content: space-around;
  @media (max-width: $tabletandlargephone-width) {
    flex-direction: column;
  }
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  .field {
    width: 30%;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
    @media (max-width: $tabletandlargephone-width) {
      width: 100%;
    }
    @media (max-width: $mobile-width) {
      width: 100%;
    }

    input {
      width: 100%;
      color: white;
      font-size: 1.5rem;
      padding-top: 2.7rem;
      border: none;
      outline: none;
      background-color: $background;
    }
    label {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;
      color: black;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $primary-blue;
        left: 0px;
        bottom: -1px;
        transform: translateX(-101%);
        transition: all 0.3s ease;
      }
      .content-name {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }
    }
  }
}

/* Code for content-name */
.form .field input:focus + .label-name .content-name,
.form .field input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: $primary-blue;
}

/* Code for content name */

.form .field input:focus + .label-name::after,
.form .field input:valid + .label-name::after {
  transform: translateX(0%);
}

/* Used Inventory Title Code */
.used--inventory {
  &__title {
    font-size: 1.3rem;
    margin-top: 3rem;
  }
  &__addBtn {
    margin-top: 1.5rem;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    border-bottom: 1px solid $primary-blue;
  }
}

.used--inventory__results {
  margin-top: 8rem;
  font-size: 1.5rem;
  text-align: center;
  h3 {
    @media (max-width: $mobile-width) {
      font-size: 1.3rem;
    }
  }

  & .usedInventoryAddLink {
    display: inline-block;
    border-bottom: 1px solid $primary-blue;
    padding-bottom: 1px;
    color: white;
  }
}

/* Used Inventory Fields Styling */
.form {
  display: flex;
  justify-content: space-around;
  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  .field {
    width: 30%;
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
    @media (max-width: $tabletandlargephone-width) {
      width: 100%;
    }
    @media (max-width: $mobile-width) {
      width: 100%;
    }

    input {
      width: 100%;
      color: white;
      font-size: 1.5rem;
      padding-top: 2.7rem;
      border: none;
      outline: none;
      background-color: $background;
    }
    label {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;
      color: black;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $primary-blue;
        left: 0px;
        bottom: -1px;
        transform: translateX(-101%);
        transition: all 0.3s ease;
      }
      .content-name {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }
    }
  }
}

/* Code for content-name */
.form .field input:focus + .label-name .content-name,
.form .field input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: $primary-blue;
}

/* Code for content name */

.form .field input:focus + .label-name::after,
.form .field input:valid + .label-name::after {
  transform: translateX(0%);
}

// Used Inventory Modal Styles For Adding

.usedInventoryAddForm {
  width: 50%;
  margin: 20rem auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background: #ebe8e8;
  @media (max-width: $tabletandlargephone-width) {
    display: block;
    margin: 4rem auto;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
    display: block;
    height: 100vh;
    margin: 0;
  }

  #picture_file {
    grid-column: 1/3;
  }

  .picture_url {
    color: #000;
    font-size: 1.4rem;
    display: inline-block;
    padding-left: 2rem;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
  }

  input[type="file"] + label {
    border: 1px solid $primary-blue;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    background: $primary-blue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 300;
  }

  textarea[name="info"] {
    @media (max-width: $tabletandlargephone-width) {
      margin-top: 2rem;
      width: 100%;
      height: 10rem;
    }
    @media (max-width: $mobile-width) {
      margin-top: 2rem;
      width: 100%;
      height: 10rem;
    }
  }

  .used-inv-add-btn-group {
    @media (max-width: $laptop-desktop-width) {
      width: 99%;
      margin: 0 auto;
      grid-column: 1/3;
    }
    @media (max-width: $desktop-width) {
      width: 99%;
      margin: 0 auto;
      grid-column: 1/3;
    }
    @media (max-width: $tabletandlargephone-width) {
      width: 90%;
      margin: 0 auto;
    }

    @media (max-width: $mobile-width) {
      width: 90%;
      margin: 0 auto;
    }
  }

  .usedInv-submitBtn {
    margin-top: 4rem;
    width: 50%;
    padding: 1.2rem 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 8rem;
    background: #2eb85c;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.4rem;
  }

  .usedInv-closeBtn {
    margin-top: 4rem;
    width: 50%;
    justify-self: flex-end;
    padding: 1.2rem 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 8rem;
    background: red;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: black;
    @media (max-width: $laptop-desktop-width) {
      display: inline-block;
    }

    @media (max-width: $desktop-width) {
      display: inline-block;
    }
    @media (max-width: $tabletandlargephone-width) {
      display: inline-block;
    }
    @media (max-width: $mobile-width) {
      display: inline-block;
    }
  }

  .usedInv-field {
    width: 100%;
    position: relative;
    overflow: hidden;
    .usedInv-group {
      width: 100%;
      color: #000;
      font-size: 1.5rem;
      padding-top: 2.7rem;
      padding-bottom: 0.5rem;
      border: none;
      outline: none;
      background-color: #ebe8e8;
      @media (max-width: $tabletandlargephone-width) {
        padding-top: 3.7rem;
      }
      @media (max-width: $mobile-width) {
        padding-top: 3.7rem;
      }
    }
    .usedInv-label-name {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;
      color: black;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $primary-blue;
        left: 0px;
        bottom: -1px;
        transform: translateX(-101%);
        transition: all 0.3s ease;
      }
      .usedInv-content-name {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }
    }
  }
}
/* Code for content-name */
.usedInventoryAddForm
  .usedInv-field
  input:focus
  + .usedInv-label-name
  .usedInv-content-name,
.usedInventoryAddForm
  .usedInv-field
  input:valid
  + .usedInv-label-name
  .usedInv-content-name {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: $primary-blue;
}

/* Code for content name */

.usedInventoryAddForm .usedInv-field input:focus + .usedInv-label-name::after,
.usedInventoryAddForm .usedInv-field input:valid + .usedInv-label-name::after {
  transform: translateX(0%);
}

// New inventory Styles for modal
.newInventoryAddForm {
  width: 50%;
  margin: 20rem auto;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  background: #ebe8e8;
  @media (max-width: $tabletandlargephone-width) {
    margin: 2.5rem auto;
    display: block;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0;
    display: block;
    height: 100vh;
  }

  #picture_file {
    grid-column: 1/3;
  }

  .picture_url {
    color: #000;
    font-size: 1.4rem;
    display: inline-block;
    padding-left: 2rem;
  }

  input[type="file"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 1px;
    height: 1px;
  }

  input[type="file"] + label {
    border: 1px solid $primary-blue;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    background: $primary-blue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 300;
  }

  textarea[name="info"] {
    @media (max-width: $tabletandlargephone-width) {
      width: 100%;
      height: 12rem;
      margin-top: 2rem;
    }
    @media (max-width: $mobile-width) {
      width: 100%;
      height: 12rem;
      margin-top: 2rem;
    }
  }

  .newInv-submitBtn {
    margin-top: 4rem;
    width: 50%;
    padding: 1.2rem 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 8rem;
    background: #2eb85c;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.4rem;
  }

  .newInv-closeBtn {
    margin-top: 4rem;
    width: 50%;
    justify-self: flex-end;
    padding: 1.2rem 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 8rem;
    background: red;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: black;

    @media (max-width: $laptop-desktop-width) {
      display: inline-block;
    }

    @media (max-width: $desktop-width) {
      display: inline-block;
    }
    @media (max-width: $tabletandlargephone-width) {
      display: inline-block;
    }
    @media (max-width: $mobile-width) {
      display: inline-block;
    }
  }

  .newInv-field {
    width: 100%;
    position: relative;
    overflow: hidden;
    .newInv-group {
      width: 100%;
      color: #000;
      font-size: 1.5rem;
      padding-top: 2.7rem;
      padding-bottom: 0.5rem;
      border: none;
      outline: none;
      background-color: #ebe8e8;
      @media (max-width: $mobile-width) {
        padding-top: 4.7rem;
      }
      @media (max-width: $tabletandlargephone-width) {
        padding-top: 3.7rem;
      }
    }
    .newInv-label-name {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid black;
      color: black;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-bottom: 3px solid $primary-blue;
        left: 0px;
        bottom: -1px;
        transform: translateX(-101%);
        transition: all 0.3s ease;
      }
      .newInv-content-name {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all 0.3s ease;
      }
    }
  }
  .new-inv-add-btn-group {
    @media (max-width: $laptop-desktop-width) {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      grid-column: 1/3;
    }
    @media (max-width: $desktop-width) {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      grid-column: 1/3;
    }

    @media (max-width: $mobile-width) {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
  }
}

/* Code for content-name */
.newInventoryAddForm
  .newInv-field
  input:focus
  + .newInv-label-name
  .newInv-content-name,
.newInventoryAddForm
  .newInv-field
  input:valid
  + .newInv-label-name
  .newInv-content-name {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: $primary-blue;
}

/* Code for content name */

.newInventoryAddForm .newInv-field input:focus + .newInv-label-name::after,
.newInventoryAddForm .newInv-field input:valid + .newInv-label-name::after {
  transform: translateX(0%);
}

// Carousel Styles for USED INV

.slide_backBtn {
  left: -1.4%;
  position: absolute;
  top: 25%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  line-height: 2px;
  font-size: 2rem;
  font-weight: 300;
  @media (max-width: $laptop-desktop-width) {
    left: 2.6%;
    top: 29%;
  }
  @media (max-width: $desktop-width) {
    left: 0.6%;
    top: 30%;
  }
  @media (max-width: $mobile-width) {
    left: -5.4%;
    top: 35%;
  }
}

.slide_nextBtn {
  position: absolute;
  top: 25%;
  left: 91.2%;
  padding: 1.5rem;
  height: 41px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  line-height: 2px;
  font-size: 2rem;
  font-weight: 300;

  @media (max-width: $laptop-desktop-width) {
    top: 29%;
    left: 93.2%;
  }

  @media (max-width: $desktop-width) {
    left: 92.2%;
    top: 30%;
  }
  @media (max-width: $mobile-width) {
    top: 34%;
  }
}

.slider-margin-left {
  margin-left: 5rem;
}
