.view-all-box {
  margin-top: 10rem;
  width: 20%;
  text-align: center;
  padding: 1.5rem;
  display: block;
  border-radius: 4px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #000;
  transition: border 140ms ease-out, box-shadow 140ms ease-out,
    background-color 140ms ease-out;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  @media (max-width: $mobile-width) {
    width: 100%;
  }

  @media (max-width: $tabletandlargephone-width) {
    width: 100%;
  }

  &.dealer_view_box:hover {
    border: 2px solid #39c;
    background-color: #000;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.7);
  }

  &.sales_view_box:hover {
    border: 2px solid $secondary-blue;
    background-color: #000;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.7);
  }
}

.leads {
  .edit-style {
    color: $primary-blue;
    font-size: 2.5rem;
  }
  .delete-style {
    color: red;
    font-size: 2.5rem;
  }
  &__heading {
    margin-top: 10rem;
    font-size: 2.7rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;

    &.sales_bb {
      border-bottom: 1px solid $secondary-blue;
    }

    &.dealer_bb {
      border-bottom: 1px solid $primary-blue;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    td {
      text-align: center;
      padding: 2rem;
      @media (max-width: $mobile-width) {
        display: block;
        width: 100%;
        text-align: right;
        padding-left: 50%;
        position: relative;
      }

      @media (max-width: $tabletandlargephone-width) {
        display: block;
        width: 100%;
        text-align: right;
        padding-left: 50%;
        position: relative;
      }
      & .del-icon {
        cursor: pointer;
      }

      & .edit-icon {
        cursor: pointer;
      }
    }
    td::before {
      @media (max-width: $mobile-width) {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        color: #fff;
      }

      @media (max-width: $tabletandlargephone-width) {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        color: #fff;
      }
    }
    tr {
      border-radius: 4px;
      @media (max-width: $mobile-width) {
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }

      @media (max-width: $tabletandlargephone-width) {
        display: block;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    tbody {
      @media (max-width: $mobile-width) {
        display: block;
        width: 100%;
      }

      @media (max-width: $tabletandlargephone-width) {
        display: block;
        width: 100%;
      }
    }
    tbody tr:nth-child(even) {
      background: #3e4854;
    }
    table.spaceunder {
      padding-bottom: 2rem;
    }
    th {
      margin-bottom: 2rem;
      @media (max-width: $mobile-width) {
        display: none;
      }
      @media (max-width: $tabletandlargephone-width) {
        display: none;
      }
    }
  }
}
