.new--inventory {
  margin-top: 5rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }
  &__results {
    margin-top: 10rem;
  }
}

.used--inventory {
  margin-top: 5rem;
  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5rem;
  }

  &__results {
    margin-top: 10rem;
  }
}
