.leads-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  width: 40%;
  margin: 20rem auto;
  background: rgb(235, 232, 232);
  padding: 3rem;
  & input[type] {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $primary-blue;
    padding-left: 4rem;
    background: white;
    letter-spacing: 0.2rem;
    color: #e4e4e4;
    outline: none;
    &:not(last-child) {
      margin-bottom: 3rem;
    }
  }

  .leads-form_title {
    grid-column: 1/3;
    text-align: center;
    color: black;
    font-size: 2rem;
  }

  & input[name="dealership_name"] {
    grid-column: 1/3;
  }

  & input[name="dealership_street"] {
    grid-column: 1/3;
  }

  #state {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $primary-blue;
    padding-left: 4rem;
    background: white;
    letter-spacing: 0.2rem;
    color: #e4e4e4;
    margin-bottom: 3rem;
    outline: none;
  }
  .submitBtn {
    background: #2eb85c;
    border: none;
    grid-column: 1/3;
    width: 25%;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
