.login-wrapper {
  // min-width: 76rem;
  //max-width: 40%;
  // margin: 5rem auto;
  @media (max-width: $laptop-desktop-width) {
    max-width: 100%;
  }

  @media (max-width: $desktop-width) {
    max-width: 100%;
  }

  @media (max-width: $tabletandlargephone-width) {
    max-width: 100%;
  }

  @media (max-width: mobile-width) {
    max-width: 100%;
  }

  .login-form {
    background: rgba(47, 55, 66, 0.486);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.445);
    width: 100%;
    padding: 5rem 0;
    @media (max-width: $laptop-desktop-width) {
      height: 100vh;
    }

    @media (max-width: $desktop-width) {
      height: 100vh;
    }

    @media (max-width: $tabletandlargephone-width) {
      height: 100vh;
    }

    @media (max-width: $mobile-width) {
      height: 100vh;
    }

    .sales-login-link {
      text-align: center;
      display: block;
      font-weight: 300;
      margin-top: 4rem;
    }
  }
}

.login-form-container {
  padding: 3rem 0;
}

.login-title {
  color: #e4e4e4;
  font-size: 2.8rem;
  margin-bottom: 9rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  @media (max-width: $large-mobile-width) {
    font-size: 1.8rem;
  }
  @media (max-width: $mobile-width) {
    font-size: 1.8rem;
  }
}

// Login Form Styles
.login-stepOne {
  display: flex;
  flex-direction: column;
  text-align: center;

  & .button {
    font-size: 1.4rem;
    display: inline-block;
    border-radius: 4px;
    padding: 1rem 1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    @include buttonBoxShadow;
  }

  & .icon {
    position: absolute;
    padding: 1rem;
    min-width: 4rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 0.7rem;
    color: #efefef;
  }

  & input[type] {
    width: 50%;
    padding: 1.4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $background;
    padding-left: 4rem;
    background: $background;
    letter-spacing: 0.2rem;
    color: #e4e4e4;
    outline: none;
    &:not(last-child) {
      margin-bottom: 3rem;
    }

    @media (max-width: $laptop-desktop-width) {
      width: 30%;
    }

    @media (max-width: $desktop-width) {
      width: 38%;
    }

    @media (max-width: $tabletandlargephone-width) {
      width: 45%;
    }
    @media (max-width: $large-mobile-width) {
      width: 75%;
    }

    @media (max-width: $mobile-width) {
      width: 80%;
    }
  }

  & .disabledBtn {
    width: 25%;
    display: block;
    margin: 0 auto;
    background: #666;
    border: none;
    margin-top: 3rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    transition: background 200ms ease-in-out;
    cursor: not-allowed;
    pointer-events: none;
    @media (max-width: $large-mobile-width) {
      width: 40%;
    }
    @media (max-width: $mobile-width) {
      width: 50%;
      padding: 1rem 4rem;
    }
  }

  & .continueBtn {
    width: 25%;
    display: block;
    margin: 0 auto;
    background: #2eb85c;
    border: none;
    margin-top: 3rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    transition: background 200ms ease-in-out;
    @media (max-width: $mobile-width) {
      width: 50%;
    }
  }
}
