.not-found {
  width: 40%;
  margin: 0 auto;
  padding-top: 40rem;
  position: relative;

  &--title {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
  }

  &--para {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
  }

  &--btn {
    text-transform: uppercase;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }
}
