.portal-styles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  @media (max-width: $large-mobile-width) {
    z-index: 99;
  }
  @media (max-width: $mobile-width) {
    z-index: 99;
  }
}
