.sidebar__links {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 50px;
}

.sidebar__link {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 20px 30px 20px 50px;
  font-size: 25px;
  text-transform: uppercase;
  color: #e4e4e4;
  font-weight: 400;
  margin-bottom: 30px;
  transition: background-color 150ms ease-in;
  transition: border-right 200ms ease-out;
  cursor: pointer;

  & .iconify {
    margin-right: 2rem;
  }

  &.border {
    background-color: #495563;
    border-right: 6px solid $primary-blue;
  }

  &.saleman-border {
    background-color: #495563;
    border-right: 6px solid $secondary-blue;
  }

  @media (max-width: $laptop-desktop-width) {
    font-size: 1.8rem;
    padding: 20px 40px 20px 20px;
  }
}

.logout_confirm__box {
  width: 35%;
  margin: 35rem auto;
  padding: 3rem;
  background: #ebe8e8;

  @media (max-width: $desktop-width) {
    width: 40%;
    margin: 30rem auto;
  }

  @media (max-width: $tabletandlargephone-width) {
    width: 54%;
    margin: 30rem auto;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 26rem 3rem;
    height: 100vh;
    margin: 0;
  }

  & .logout_confirm__heading {
    color: #000;
    text-align: center;
    @media (max-width: $mobile-width) {
      font-size: 1.4rem;
    }
  }

  & .button-box {
    display: flex;
    justify-content: space-evenly;
  }

  & .logout_confirm__confirmBtn {
    margin-top: 4rem;
    width: 30%;
    padding: 1.2rem 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 8rem;
    background: #2eb85c;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.4rem;
    border: none;
    @media (max-width: $mobile-width) {
      width: 100%;
    }
  }

  .logout_confirm__closeBtn {
    margin-top: 4rem;
    width: 30%;
    justify-self: flex-end;
    padding: 1.2rem 2rem;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 4px;
    min-width: 8rem;
    background: red;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.4rem;
    color: black;
    border: none;
    @media (max-width: $mobile-width) {
      width: 100%;
      margin-right: 1rem;
    }
  }
}

.drawer-image {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  img {
    height: 7rem;
    margin-bottom: 3rem;
  }
}
