.sidebar__links {
  display: flex;
  flex-flow: column nowrap;
  padding-top: 50px;
}

.sidebar__link {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 20px 30px 20px 50px;
  font-size: 25px;
  text-transform: uppercase;
  color: #e4e4e4;
  font-weight: 400;
  margin-bottom: 30px;
  transition: background-color 150ms ease-in;
  transition: border-right 200ms ease-out;
  cursor: pointer;

  // &:hover {
  //   background-color: #495563;
  //   border-right: 6px solid $primary-blue;
  // }

  & .iconify {
    margin-right: 2rem;
  }

  &.border {
    background-color: #495563;
    border-right: 6px solid $primary-blue;
  }
}
