.wrapper {
  min-width: 76rem;
  max-width: 40%;
  margin: 5rem auto;

  // Main Form (SignUpForm.js)
  & .signup-form {
    background: rgba(47, 55, 66, 0.486);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.445);
    width: 100%;
    padding: 5rem 0;
    &__stepper {
      margin-bottom: 2rem;
      &--unorderedlist {
        list-style-type: none;
        display: flex;
        padding: 2rem;
        width: 40%;
        margin: 0 auto;
      }
      &--item {
        color: #fff;
        font-size: 1.2rem;
        margin: 0 auto;
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        border-radius: 2.5rem;
        font-size: 1.8rem;

        &.one {
          background: #2eb85c;
        }

        &.dark {
          background: #666;
        }

        &.two {
          background: #2eb85c;
        }

        &.dark {
          background: #666;
        }
      }
    }
  }
}

// StepOne Form (StepOne.js)
.signup-stepOne {
  display: flex;
  flex-direction: column;
  text-align: center;

  & .icon {
    position: absolute;
    padding: 1rem;
    min-width: 4rem;
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 0.7rem;
    color: #efefef;
  }

  & input[type] {
    width: 50%;
    padding: 1.4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $background;
    padding-left: 4rem;
    background: $background;
    letter-spacing: 0.2rem;
    color: #e4e4e4;
    outline: none;
    &:not(last-child) {
      margin-bottom: 3rem;
    }
  }

  & .disabledBtn {
    width: 25%;
    display: block;
    margin: 0 auto;
    background: #666;
    border: none;
    margin-top: 3rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    transition: background 200ms ease-in-out;
    cursor: not-allowed;
    pointer-events: none;
  }

  & .continueBtn {
    width: 25%;
    display: block;
    margin: 0 auto;
    background: #2eb85c;
    border: none;
    margin-top: 3rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    transition: background 200ms ease-in-out;
  }
}

// StepTwo Form (StepTwo.js)

.signup-stepTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  & input[type] {
    width: 100%;
    padding: 1.4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $background;
    padding-left: 4rem;
    background: $background;
    letter-spacing: 0.2rem;
    color: #e4e4e4;
    outline: none;
    &:not(last-child) {
      margin-bottom: 3rem;
    }
  }

  & input[name="dealership_name"] {
    grid-column: 1/3;
  }

  & input[name="dealership_street"] {
    grid-column: 1/3;
  }

  #dealership_state {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 1px solid $background;
    padding-left: 4rem;
    background: $background;
    letter-spacing: 0.2rem;
    color: #e4e4e4;
    margin-bottom: 3rem;
    outline: none;
  }
  & .stepTwodisabledBtn {
    display: block;
    background: #666;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    transition: background 200ms ease-in-out;
    cursor: not-allowed;
    pointer-events: none;
  }

  .backBtn {
    background: $primary-blue;
    border: none;
  }

  .submitBtn {
    background: #2eb85c;
    border: none;
  }
}

// change browser autocomplete styles

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $background;
  -webkit-text-fill-color: #e4e4e4;
  -webkit-box-shadow: 0 0 0px 1000px $background inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-logo {
  text-align: center;
  margin-bottom: 5rem;
}
