.header {
  position: fixed;
  top: 0;
  background-color: #1a445a;
  width: 100%;
  padding: 2rem 5rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__nav__buttons {
    display: flex;
    justify-content: flex-end;
    width: 25%;
    min-width: 40rem;
  }

  &__nav__button {
    transition: transform 110ms ease-in-out, box-shadow 110ms ease-in-out;

    @include buttonHoverActiveTransform;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.container {
  background: #242c35;
  height: 100vh;
  width: 80%;
  margin: 6rem auto 0;
  & .container--flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  & .text-box {
    height: 20rem;
    position: relative;
  }
}

.img-styles {
  width: 80rem;
  animation: illustrationFade 875ms ease-in-out;
  animation-fill-mode: backwards;
}

.text-box__title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 1.5rem;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
  // animation: titleSlide 400ms ease-in;
}

.text-box__subtext {
  color: #e4e4e4;
  font-size: 1.4rem;
  width: 50%;
  line-height: 2rem;
  font-weight: 300;
}

.button--slide-up {
  margin-top: 4rem;
  animation: buttonSlideUp 580ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 420ms;
  transition: background-color 100ms ease-in-out;

  &:hover {
    background-color: $primary-blue;
  }
}

.logo {
  &--small {
  }
}

.button {
  font-size: 1.4rem;
  display: inline-block;
  min-width: 8rem;
  border-radius: 4px;
  padding: 1.2rem 2rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  @include buttonBoxShadow;

  &--get-started {
    background-color: transparent;
    padding: 1.3rem 2.2rem;
    font-size: 1.8rem;
    border: 2px solid $primary-blue;
    letter-spacing: 2px;
    text-shadow: 0 1px 1px rgba($color-black, 0.8);
  }

  &--login {
    background-color: $primary-blue;
  }

  &--signup {
    background-color: #2eb85c;
  }
}
// #297aa3;
