*,
*::after,
*::before {
  margin: 0px;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Robotos", sans-serif;
  background: #242c35; }

.header {
  position: fixed;
  top: 0;
  background-color: #1a445a;
  width: 100%;
  padding: 2.2rem 5rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
  .header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%; }

.container {
  background: #242c35;
  height: 100vh;
  width: 80%;
  margin: 6rem auto 0; }
  .container .container--flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center; }
  .container .text-box {
    height: 20rem;
    position: relative; }

.img-styles {
  width: 90rem; }

.text-box__title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-transform: capitalize; }

.text-box__subtext {
  color: #e4e4e4;
  font-size: 1.4rem;
  width: 50%;
  line-height: 2rem;
  font-weight: 300; }

.text-box__btn {
  position: absolute;
  top: 15rem;
  left: 0;
  color: #fff;
  background: #42a6d9;
  font-size: 1.5rem;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  font-weight: 300; }

.button {
  border-radius: 4px;
  padding: 1rem 1.5rem; }
  .button--login {
    background-image: linear-gradient(to bottom right, #39c, #fff); }
